header{    
    height: 80px;
    border-bottom:var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 40px;
}
.header-container{
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
.logo{
    width: 150px;
    margin-right: 55px;
}
.navigation{
   /* margin: 30px 0;*/
}
.credentials{
    display: flex;

}
.nav__list{
    display: flex;
    align-items: center;

}
.nav__list-item{
    list-style: none;
    color: var(--color1);
    letter-spacing: 0.02em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    line-height: 109%;
    position: relative;
    display: flex;
    align-items: center;
}

.nav__list-item::before{
    content: '';
height: 3px;
border-radius: 30% 30% 0 0;
width: 100%;
background-color: transparent;
position: absolute;
top: 48px;
}
.nav__list-item:not(:last-child){
    margin-right: 44px;
}
.nav__list-item:hover::before{
    background-color: var(--color1);

}
.nav__list-item:active::before{
background-color: var(--color1);
}
.nav__list-img{
    margin-right: 11px;
}
.nav-exit{
    margin-left: auto;
}