body {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 34px;
    line-height: 120%;
    color: #2361A9;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.header {
    height: 80px;
    border-bottom: 1px solid #D8E0EB;
    display: flex;
    align-items: center;
    padding: 0px 40px;
}

.header-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 105px;
}

.mobile__menu-button{
    display: flex;
    position: absolute;
    top: 16px;
    right: 40px;
}

.logo {
    width: 150px;
}


.credentials {
    display: flex;
    position: relative;
}
.credentials-header {
    display: flex;
    position: relative;
    right: 220px;
}
.visiblity{
    display: none;
}

.nav__list {
    display: flex;

}

.nav__list-item {
    list-style: none;
    position: relative;
}

.nav__list-item::before {
    content: '';
    height: 3px;
    border-radius: 12px 12px 0 0;
    width: 100%;
    background-color: #E40137;
    position: absolute;
    top: 46px;
    visibility: hidden;
}

.nav__list-item:hover::before {
    visibility: visible;

}

.nav__list-item:active::before {
    background-color: red;

}

.nav__list-item:not(:last-child) {
    margin-right: 30px;
}

.credential__input {
    position: absolute;
    width: 90px;
    height: 100%;
    /* display: none; */
    visibility: hidden;
    z-index: 2;
}

.credential__label {
    position: absolute;
    width: 90px;
    height: 100%;
}

.credential__language {
    display: flex;
    align-items: center;
    margin-right: 23px;
    cursor: pointer;
}

.credential__label-language {
    margin-right: 8px;
    font-size: 16px;
    margin-top: 2px;
    font-weight: 500;
}

.credentials__list {
    font-weight: 500;
    left: -110px;
    position: absolute;
    display: none;
    top: 53px;
    width: 190px;
    background: var(--white);
    border-top: 2px solid var(--color1);
    cursor: pointer;
}

.credentials__list-footer {
    top: 40px;
    border: 1px solid #EBEFF3;
box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
}

#credential-input:checked~.credentials__list {
    display: block;
}

#credential-input-footer:checked~.credentials__list {
    display: block;
}

.credentials__list-text {
    color: #1B2B3C;
    padding: 14px 0 13px 20px;
    display: inline-block;
}

.credential-img {
    width: 10px;
    margin-left: 7px;
    cursor: pointer;
}

.credentials__list-item {
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.credentials__list-line {
    width: 91%;
    height: 1px;
    background-color: #EBEFF3;
    ;
    margin-left: auto;
}

.credentials__list-checked {
    width: 20px;
    height: 20px;
    background: var(--color1);
    border-radius: 50%;
    text-align: center;
    margin-right: 17px;
    position: relative;
}
.credentials__list-checked::before{
    content: '';
    width: 4px;
    height: 8px;
    border: 2px solid var(--white);
    border-left: 0;
    border-top: 0;
    transform: rotate(45deg);
    position: absolute;
    right: 7px;
    top: 4px;
}

.credentials__avatar {
    width: 43px;
    height: 43px;
    border-radius: 50%;
    background-color: #2361A9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    outline: none;
    border: 1px solid #2361A9;
    font-weight: 600;
}

.credentials__avatar-text {
    display: none;
}

.credentials__button {
    padding: 0px 37px;
    height: 41px;
    border: 2px solid #2361A9;
    color: #2361A9;
    border-radius: 25px;
    background-color: white;
    outline: none;
    cursor: pointer;
    color: #2361A9;
    font-weight: 700;
    font-size: 15px;
    line-height: 255%;
    text-decoration: none;
    display: flex;
    align-items: center;
}

#main {
    width: 100%;
    height: 570px;
    background-color: var(--third-background);
    background-image: url(../images/first.svg), url(../images/firstback.svg);
    background-repeat: no-repeat;
    background-position: right 57px, center right;

}

.first {
    width: 600px;
}

.first-title {
    font-weight: 600;
    font-size: 44px;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    padding-top: 110px;
}

.first__links {
    display: flex;
    margin-top: 30px;
    width: 100%;
    justify-content: space-around;
    gap: 20px;
}

.first__links-item {
    box-shadow: 0px 8px 14px 2px #ececec;
    border-radius: 14px;
    background-color: var(--white);
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 188px;
    padding-bottom: 41px;
    padding-top: 45px;
    text-decoration: none;
    flex: 1 0 auto;
}

.first__links-text {
    margin-top: 15px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}

.first-buttons {
    display: none;
}

.first__links-item:nth-of-type(2)>.first__links-text {
    margin-top: 22px;

}

.works__wrap {
    margin-top: 60px;
    margin-bottom: 60px;
}

.works__box {
    display: flex;
    margin-top: 21px;
    justify-content: space-between;
}

.works__box-item {
    border: 1px solid #D8E0EB;
    border-radius: 8px;
    height: 270px;
    width: 10.8%;
    /* width: 143px; */
    padding: 20px 75px 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.works__box-text {
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
}

.works__box-number {
    font-weight: 500;
    font-size: 50px;
    margin-bottom: 20px;
}

.works__box-img {
    margin-top: auto;
}

.footer {
    border-top: var(--border);
}

.footer__wrap {
    display: flex;
    padding-bottom: 40px;
    padding-top: 50px;
}

.footer-logo {
    width: 255px;
    align-self: baseline;
    margin-right: 82px;
}

.footer__group {
    display: flex;
    flex-direction: column;
}

.footer__group:not(:last-child) {
    margin-right: 100px;
}

.footer__group-link {
    text-decoration: none;
    color: var(--color1);
    letter-spacing: 0.02em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 24px;
}

.footer__group-social {
    padding-top: 30px;
    display: flex;
    justify-content: flex-end;
}

.footer__group-network {
    margin-left: 10px;
}

/* .footer__group:last-child {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
} */
.footer__nav{
    flex-grow: 1;
    display: flex;
}

#information-for-countries {
    background-color: var(--third-background);
    background-image: url(../images/countriesback.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.info__wrap {
    padding: 60px 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.info__wrap-title {
    width: 495px;
    font-weight: 700;
    font-size: 34px;
    line-height: 120%;

}
.info__wrap-link{
    text-decoration: none;
    position: relative;
    flex-grow: 1;
}
#transfer, #parcel{
    position: absolute;
    opacity: 0;
}
/* .info__wrap-radio-active{

    padding: 10px 15px;
    height: 40px;
    border: var(--border);
    color: var(--color1);
    border-radius: 20px;
    background-color: var(--white);
    outline: none;
    cursor: pointer;
    color: var(--color1);
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-decoration: none;
} */
.info__wrap-buttons {
    background-color: var(--color1);
    border: var(--border);
    border-radius: 25px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 360px; */
    padding: 3px;
}

.info__wrap-radio {
    padding: 12px 27px;
    /* height: 40px; */
    border: 1px solid var(--color1);
    color: var(--color1);
    border-radius: 20px;
    background-color: var(--color1);
    outline: none;
    cursor: pointer;
    color: var(--white);
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.info__wrap-radio-active {
    padding: 12px 15px;
    /* height: 40px; */
    border: var(--border);
    color: var(--color1);
    border-radius: 20px;
    background-color: var(--white);
    outline: none;
    cursor: pointer;
    color: var(--color1);
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.info__countries {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 42px;
    padding-bottom: 60px;
}

.info__countries-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 auto;
}

.info__countries-image {
    background: var(--white);
    border: var(--border);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.info__countries-name {
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    margin-top: 15px;
    text-align: center;
    text-transform: uppercase;
}
.info__countries-notice{
    position: absolute;
    width: 32.5px;
    height: 32.5px;
    cursor: pointer;
    background-image: url(../images/exclamation.svg);
    background-repeat: no-repeat;
    background-size: cover;
    top: 2px;
    right: 2px;
}
.modal__notice{
    background: var(--third-background);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    /* height: 97%; */
    overflow: auto;
}
.modal__notice-header{
    height: 55px;
    background-color: var(--color1);
    padding: 20px 40px;
    display: flex;
    align-items: center;
}
.modal__notice-title{
    text-transform: uppercase;
    font-weight: 700;
font-size: 22px;
line-height: 120%;
letter-spacing: 0.01em;
margin-left: 15px;
color: var(--third-background);
}
.modal__notice-sign{
    width: 50px;
    height: 50px;
    background-image: url(../images/exclamation2.svg);
    background-size: cover;

}
.modal__notice-close{
    width: 20px;
    height: 20px;
    margin-left: auto;
    position: relative;
    cursor: pointer;
}
.modal__notice-close::after,.modal__notice-close::before{
    position: absolute;
    content: '';
    width: 3px;
    height: 24px;
    background-color: var(--third-background);
    left: 10px;
}
.modal__notice-close::before{
    transform: rotate(135deg);
}
.modal__notice-close::after{
    transform: rotate(45deg);
}
.modal__notice-content{

    letter-spacing: 0.01em;
    font-size: 15px;
    line-height: 25px;
}
.modal__notice-bold{
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 30px;
}
.modal__notice-text-header{
    font-weight: 500;
    color: var(--color1);
}
.modal__notice-text{
    letter-spacing: 0.01em;
    line-height: 25px;
    color: var(--color2);
    margin-bottom: 30px;
}
.modal__notice-text span,.modal__notice-list{
    color: var(--color2);
    line-height: 25px;
}
.modal__notice-content-wrap{
    max-height: 690px;
    min-height: 600px;
    padding: 30px 75px 30px 40px;
}
.inline{
    display: inline-block;
    margin-right: 5px;
}
.modal__notice-button{
    font-weight: 600;
    padding: 19px 36px;
    border-radius: 25px;
    outline: none;
    text-decoration: none;
    background: var(--color1);
    text-transform: uppercase;
    display: inline-block;
}
.modal__notice-button span{
    color: var(--third-background);
}


#benefts {
    background-color: var(--white);
    padding: 60px 0;
}


.benefits__list {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.benefits__list-item {
    border-radius: 8px;
    border: var(--border);
    padding: 40px 85px 40px 40px;
}


.benefits__list-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    margin: 20px 0 12px 0;
    text-transform: uppercase;
}

.benefits__list-text {
    width: 298px;
    color: #606B77;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.02em;
}

#faq {
    background-color: var(--white);
    padding: 70px 0 55px;
}

.faq__title {
    font-weight: 700;
    font-size: 34px;
    line-height: 120%;
    margin-bottom: 20px;
}

.faq__details {
    margin-bottom: 5px;
}

.faq__summary {
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    display: flex;
    align-items: center;
}

.faq__summary-question {
    display: inline-block;
    margin-left: 10px;
    text-transform: uppercase;
}

.faq__summary-answer {
    padding: 30px 60px;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #606B77;
    width: 800px;
    letter-spacing: 0.02em;
}

summary {
    background-color: var(--third-background);
    position: relative;
    display: block;
    padding: 25px 30px;
}

summary::-webkit-details-marker {
    display: none;
}

summary::before {
    /* content: url(../images/opening.svg);
    padding-right: 0.5em; */
    content: '';
    width: 9px;
    height: 9px;
    border: 3px solid var(--color1);
    border-left: 0;
    border-top: 0;
    transform: rotate(45deg);
    position: absolute;
    right: 30px;
    top: 28px;
}

details[open]>summary::before {
    transform: rotate(225deg);
}

.above-footer {
    width: 100%;
    height: 60px;
    background-color: var(--third-background);
}

#contacts {

    padding: 60px 0 70px;
    background-color: var(--third-background);
}

.contacts__video-view{
    height: 400px;
}

.contacts__video-iframe {
    width: 810px;
    height: 400px;
}

.contacts__video {
    display: flex;
    background-color: var(--white);
    margin-top: 30px;
}

.contacts__video-text {
    padding: 40px;
}

.contacts__video-header {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.contacts__video-first-content {
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.02em;
    font-weight: 700;
}

.contacts__video-second-content {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.02em;
}

.contacts__video-content {
    font-size: 14px;
    line-height: 25px;
    color: #606B77;
    display: inline-block;
}

.contacts__video-list {
    display: flex;
    justify-content: space-between;
}

.contacts__links {
    display: flex;
    flex-direction: column;
}

.contacts__video-link {
    margin-bottom: 20px;
    font-weight: 600;
}
.contacts__video-link:last-child {
    margin-bottom: 0px;
}

.contacts__video-button {
    padding: 0px 26px;
    height: 41px;
    border: 2px solid #2361A9;
    color: #2361A9;
    border-radius: 25px;
    background-color: white;
    outline: none;
    color: #2361A9;
    font-weight: 700;
    font-size: 15px;
    align-self: end;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.contacts__list {
    margin-top: 20px;

}

.contacts__list-block {
    padding: 25px 40px;
    background: #eceff4;
    max-height: 285px;
    overflow-y: scroll;
    margin-top: -5px;
}

.contacts__list-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #cad3df;
    line-height: 1.5;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.contacts__list-grid {
    display: flex;
    align-items: center;
    line-height: 1.5;
}

.contacts__list-item:last-child {
    border: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.contacts__list-col1 {
    width: 30.7%;
    padding-right: 10px;
    display: flex;
    align-items: center;
}

.contacts__list-col1>span {
    font-size: 16px;
    letter-spacing: .4px;
    line-height: 1.2;
    font-weight: 700;
    color: #172c3e;
}

.contacts__list-icon {
    margin: 0 0 0 20px;
}

.contacts__list-svg {
    width: 20px;
}

.contacts__list-row {
    width: 68.4%;
}

.contacts__list-columns-wrap:not(:last-child) {
    margin-bottom: 10px;
}

.contacts__list-columns-wrap {
    display: flex;
    align-items: center;
}

.contacts__list-col2 {
    width: 40.03%;
    padding-right: 10px;
}

.contacts__list-city {
    font-weight: 700;
    margin: 0 0 3px;
    color: #172c3e;
    font-size: 14px;
}

.contacts__list-adress {
    font-size: 12px;
    color: #172c3e;
}

.contacts__list-col3 {
    width: 34.09%;
    padding-right: 10px;
}

.contacts__list-anchor {
    color: #0061af;
    font-weight: 700;
    display: block;
    text-decoration: none;
}

.contacts__list-col4 {
    width: 25.88%;
}

.contacts__list-continent-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    display: inline-block;
    margin-left: 10px;
}

summary.contacts__list-continent {
    background-color: var(--white);
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.hidden {
    display: none;
}

.toggled {
    display: none;
}

.footer-buttons {
    display: flex;
}

/* .credential-before::before {
    content: '';
    width: 5px;
    height: 5px;
    border: 2.5px solid var(--color1);
    border-left: 0;
    border-top: 0;
    transform: rotate(45deg);
    position: absolute;
    right: 8px;
    top: 7px;
} */

#credential-input:checked~.credential-before::before{
    transform: rotate(225deg);
}

/* .credential__language.language-footer::before {
    content: '';
    width: 5px;
    height: 5px;
    border: 2.5px solid var(--color1);
    border-left: 0;
    border-top: 0;
    transform: rotate(45deg);
    position: absolute;
    right: 230px;
    top: 16px;
} */

#credential-input-footer:checked~.credential__language.language-footer::before{
    transform: rotate(225deg);
}

@media (max-width:1339px) {
    .nav__list-item:not(:last-child) {
        margin-right: 15px;
    }

    .header-container {
        margin-left: 70px;
    }

    .benefits__list-text {
        width: 268px;
    }

}

@media (min-width:1175px) and (max-width:1280px){
    .benefits__list-item{
        padding: 40px 65px 40px 40px;
    }
    .contacts__video-iframe{
        width: 750px;
    }
    .nav__list-item:not(:last-child) {
        margin-right: 12px;
    }
    .header-container {
        margin-left: 1%;
    }
}
@media (min-width:1025px) and (max-width:1174px){
    .nav__list-item:not(:last-child) {
        margin-right: 8px;
    }
    .header-container {
        margin-left: 1%;
    }
    .footer__group-link{
        font-size: 12px;
    }
    .contacts__video-iframe {
        width: 553px;
        height: 400px;
    }
    .benefits__list-item{
        padding: 20px 40px 20px 20px;
    }
    .header{
        padding: 0px 30px;
    }
    .works__box-item{
        padding: 20px 50px 30px 30px;
    }
    .benefits__list-text{
        width: 240px;
    }
    #main{
        background-position: 120% 265%, 158% 50%;
    }
}

@media (max-width:1024px) {
    h2 {
        font-weight: 700;
        font-size: 24px;
        line-height: 120%;
        text-align: center;
    }

    .header {
        padding: 0;
        position: fixed;
        background: white;
        width: 100%;
        height: 60px;
        z-index: 3;
        top: 0;
        align-items: center;
    }

    .header-container {
        flex-direction: column;
    }

    .nav__list {
        flex-direction: column;
    }

    .logo {
        width: 110px;
        margin-left: 15px;
    }

    .credentials__avatar {
        width: 133px;
        border-radius: 25px;
        justify-content: flex-start;
        margin: 0 10px 0 0;
    }

    .credential__language {
        margin-right: 17px;
    }

    .credentials__avatar-img {
        margin-left: 9px;
    }

    .credentials__avatar-text {
        display: inline-block;
        padding: 0 20px;
        color: var(--white);
    }
    .credentials__button {
        padding: 0px 32px;
    }

    #mobile-menu:checked~.header-container {
        position: fixed;
        top: 61px;
        background: var(--third-background);
        margin: 0;
        height: calc(100% - 101px);
        width: calc(100% - 40px);
        align-items: flex-start;
        padding: 20px;
    }
    .navigation{
        margin-top: 35px;
    }
    .nav__list-item{
        font-size: 15px;
    margin-bottom: 23px;
    }
    .nav__list-item:not(:last-child){
        margin-right: 0;
    }

    .toggled {
        display: block;
        width: 45px;
        height: 45px;
        position: absolute;
        top: 15px;
        right: 15px;
    }

    .hidden {
        width: 45px;
        height: 45px;
        display: block;
        opacity: 0;
        top: 15px;
        right: 15px;
        z-index: 2;
        position: absolute;
    }

    .navigation {
        display: none;
    }

    .credentials-header {
        display: none;
        right: 0;
    }

    #mobile-menu:checked~.header-container .navigation {
        display: block;
    }

    #mobile-menu:checked~.header-container .credentials-header {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .visiblity{
        display: flex;
        padding-top: 0;
    }


    /*ICON2*/

    #icon2 span {
        display: block;
        position: absolute;
        height: 6px;
        width: 6px;
        background: var(--color1);
        opacity: 1;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    #icon2 {
        right: 24px;
        width: 20px;
        height: 24px;
        position: absolute;
        top: 20px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
    }

    #icon2 span:nth-child(even) {
        left: 50%;
        border-radius: 50%;
    }

    #icon2 span:nth-child(odd) {
        left: 0px;
        border-radius: 50%;
    }

    #icon2 span:nth-child(1),
    #icon2 span:nth-child(2),
    #icon2 span:nth-child(3) {
        top: 0px;
    }

    #icon2 span:nth-child(4),
    #icon2 span:nth-child(5),
    #icon2 span:nth-child(6) {
        top: 8px;
    }

    #icon2 span:nth-child(7),
    #icon2 span:nth-child(8),
    #icon2 span:nth-child(9) {
        top: 16px;
    }

    #icon2 span:nth-child(3) {
        left: 100%;
    }

    #icon2 span:nth-child(6) {
        left: 100%;
    }

    #icon2 span:nth-child(9) {
        left: 100%;
    }

    #mobile-menu:checked~#icon2 span:nth-child(1) {
        width: 15px;
        transform: rotate(45deg);
        left: 0px;
        border-radius: 50px;
        top: 0px;
    }

    #mobile-menu:checked~#icon2 span:nth-child(3) {
        width: 15px;
        transform: rotate(-45deg);
        border-radius: 50px;
        left: 55%;
        top: 0px;

    }

    #mobile-menu:checked~#icon2 span:nth-child(7) {
        width: 15px;
        transform: rotate(-45deg);
        left: 0px;
        border-radius: 50px;
        top: 12px;
    }

    #mobile-menu:checked~#icon2 span:nth-child(9) {
        width: 15px;
        transform: rotate(45deg);
        border-radius: 50px;
        left: 55%;
        top: 12px;
    }

    #mobile-menu:checked~#icon2 span:nth-child(2) {
        top: 8px;
    }

    #mobile-menu:checked~#icon2 span:nth-child(5) {
        left: 50%;
    }

    #mobile-menu:checked~#icon2 span:nth-child(6) {
        left: 50%;
    }

    #mobile-menu:checked~#icon2 span:nth-child(8) {
        top: 8px;
    }

    .mobile__menu-button{
        display: flex;
    margin-bottom: 68px;
    position: static;
    }

    /*ICON2*/

    #main {
        height: 780px;
        margin-top: 60px;
        background-image: url(../images/firstback-mobile.png);
        background-position: center bottom;
        background-size: contain;
    }

    .first {
        width: 100%;
    }

    .first-title {
        font-weight: 700;
        font-size: 26px;
        line-height: 120%;
        text-align: center;
        padding-top: 40px;
        width: 345px;
    margin: 0 auto;
    }

    .first-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 20px;
    }

    .first__links {
        flex-direction: column;
        margin-top: 40px;
        gap: 0;
    }

    .first__links-item {
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;
        padding: 0;
        margin-bottom: 10px;
    }

    .first__links-img {
        margin: 18px 15px 18px 25px;
        max-height: 27px;
        max-width: 27px;
    }
    .first__links-item:nth-of-type(2)>.first__links-img{
        margin: 18px 15px 18px 23px;
    }
    .first__links-item:nth-of-type(3)>.first__links-img{
        margin: 18px 15px 18px 27px;
    }

    .first__links-text {
        margin-top: 0;
    }

    .works__box {
        flex-direction: column;
    }

    .benefits__list {
        flex-direction: column;
    }

    .contacts__video {
        flex-direction: column;
        margin-top: 20px;
    }

    .contacts__video-iframe {
        width: 100%;
    }

    .footer__wrap {
        flex-direction: row;
        position: relative;
        padding-top: 40px;
        padding-bottom: 24px;
    }

    .footer-logo {
        width: 150px;
    }

    .footer__group {
        margin-left: 15px;
        margin-right: 0;
    }

    .footer__group:first-of-type {
        margin-top: 45px;
    }

    .footer__group:last-of-type {
        /* flex-direction: row; */
        justify-content: space-between;
        width: 100%;
        align-items: flex-start;
        margin-left: 15px;
    }

    .credentials-footer {
        display: flex;
        flex-direction: row;
        position: static;
        padding-top: 10px;
    }

    .language-footer {
        top: 15px;
        right: 15px;
        margin-right: 0;
    }

    .footer-label {
        height: 30px;
        width: 76px;
        top: 45px;
        right: 15px;
    }

    .footer-input {
        height: 30px;
        width: 76px;
        top: 45px;
        right: 15px;
    }

    .footer__nav {
        width: 100%;
        margin-bottom: 45px;
        flex-grow: 0;
        flex-direction: column;
    }

    #credential-input-footer:checked~.credentials__list.credentials__list-footer {
        display: block;
        left: unset;
        top: 88px;
        right: 0px;
    }


    #credential-input:checked~.credentials__list {
        display: block;
        left: unset;
        top: -160px;
        right: 0px;
        border: 1px solid #EBEFF3;
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
    }
    #credential-input{
        right: 20px;
    }

    .credential__label{
        right: 20px;
    }
    /* .credential-before::before {
        content: '';
        width: 6px;
        height: 6px;
        border: 2px solid var(--color1);
        border-left: 0;
        border-top: 0;
        transform: rotate(45deg);
        position: absolute;
        right: 0px;
        top: 25px;
    } */

    .footer__group:not(:last-child) {
        margin-right: 0;
    }

    .footer__last-group {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        width: 75px;
    }

    .footer-buttons {
        position: absolute;
        left: 0;
        bottom: 24px;
        display: flex;
    }

    .credentials__footer-button {
        width: 45px;
        height: 45px;
        justify-content: center;
    }

    .footer__group-social {
        display: flex;
    }

    .footer__group-network:first-of-type {
        margin-left: 0;
    }

    .footer__group-network {
        width: 45px;
        margin-left: 8px;
    }

    .credentials__footer-img {
        margin-left: 0;
    }

    .credentials__footer-text {
        display: none;
    }

    .info__wrap {
        flex-direction: column;
        padding: 40px 0 40px;
        align-items: center;
    }
    .info__wrap-link{
        width: 50%;
    }

    .first__links-item:nth-of-type(2)>.first__links-text {
        margin-top: 0px;
    }

    .works__wrap {
        margin-top: 42px;
        margin-bottom: 30px;
    }

    .works__box-item {
        border: 1px solid #D8E0EB;
        border-radius: 8px;
        height: initial;
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px;
        justify-content: space-between;

    }

    .works__box-number {
        font-weight: 500;
        font-size: 36px;
        margin: 20px 23px 20px 20px;
    }

    .works__box-text {
        font-weight: 700;
        font-size: 12px;
        line-height: 130%;
        width: 100%;
    }

    .works__box-img {
        max-width: 52px;
        margin: 18px;
    }

    .info__wrap-title {
        width: 100%;
        font-weight: 700;
        font-size: 24px;
        line-height: 120%;
        margin-bottom: 20px;
    }

    .info__wrap-buttons {
        width: 340px;
    margin: 0 auto;
    justify-content: space-between;
    }

    .info__wrap-radio {
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        padding: 10px 10px;
        width: calc(100% - 23px);
    }

    .info__wrap-radio-active {
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        padding: 10px 10px;
    }

    .info__countries-image {
        width: 100px;
        height: 100px;
    }

    .info__countries-img {
        width: 54px;
    }

    .info__countries-name {
        font-size: 14px;
        margin-top: 6px;
        margin-bottom: 20px;
    }

    .info__countries {
        gap: 0% 5%;
        padding-bottom: 20px;
    }

    .info__countries-item {
        flex: 1 0 auto;
    }
    .modal__notice{
        width: 95%;
        min-height: 650px;
        max-height: 770px;
        height: 97%;
    }
    .modal__notice-content-wrap{
        padding: 20px;
    }
    
    .modal__notice-sign{
width: 30px;
height: 30px;
    }
    .modal__notice-header{
        padding: 15px 23px 15px 18px;
        height: 30px;
    }
    .modal__notice-close::after,.modal__notice-close::before{

        height: 16px;
    }
    .modal__notice-title{
        font-size: 17px;
        margin-left: 10px;
    }
    .modal__notice-bold{
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 20px;
    }
    .modal__notice-text-header {
        font-size: 13px;
        line-height: 22px;
    }
    .modal__notice-text span, .modal__notice-list{
        font-size: 13px;
        line-height: 22px;
    }

.modal__notice-content-wrap {
    max-height: 670px;
    overflow: unset;
}
.modal__notice-text{
    margin-bottom: 20px;
    font-size: 13px;
}
.modal__notice-button{
    font-size: 13px;
    width: calc(100% - 60px);
    text-align: center;
    padding: 19px 30px;
}
.modal__notice-button-wrap{
    padding-bottom: 20px;
    width: 100%;
}

.info__countries-notice{
    width: 20px;
    height: 20px;
}


    #information-for-countries {
        background-image: none;
    }

    #benefts {
        padding: 40px 0 30px;
    }

    .benefits__list-item {
        padding: 30px 25px 27px 30px;
        margin-bottom: 10px;
    }

    .benefits__list-img {
        max-width: 76px;
    }

    .benefits__list-text {
        width: 100%;
    }

    #contacts {
        padding: 40px 0 0;
    }

    .contacts__video-header {
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0.02em;
        margin-bottom: 15px;
    }

    .contacts__video-text {
        padding: 25px 25px 33px;
    }

    .contacts__video-list {
        flex-direction: column;
    }

    .contacts__video-button {
        margin-top: 30px;
        align-self: flex-start;
    }

    .contacts__video-iframe {
        height: calc(100vw / 2.1);
    }

    .contacts__video-view {
        height: calc(100vw / 2.1);
    }

    .contacts__list-continent-name {
        font-size: 16px;
    }

    summary.contacts__list-continent {
        padding: 19px 20px;
    }

    summary::before {
        right: 20px;
        width: 8px;
        height: 8px;
        border: 2px solid var(--color1);
        border-left: 0;
        border-top: 0;
    }

    .contacts__list-img {
        width: 22px;
    }

    .contacts__list-block{
        padding: 20px;
    }
    .contacts__list-col1{
        width: 100%;
        margin: 0 0 20px;
    }
    .contacts__list-row{
        width: 100%;
    }
    .contacts__list-columns-wrap{
        flex-direction: column;
        align-items: flex-start;
    }
    .contacts__list-col2{
        width: 100%;
    }
    .contacts__list-col3{
        width: 100%;
        margin-bottom: 8px;
    margin-top: 8px;
    }
    .contacts__list-col4{
        width: 100%;
    }
    .contacts__list-columns-wrap:not(:last-child){
        margin-bottom: 20px;
    }
    .language-footer::before {
        display: none;
    }

    #faq{
        background-color: var(--third-background);
        padding: 35px 0 30px;
    }
    .faq__title{
        font-size: 24px;
    }
    .faq__summary{
        background-color: var(--white);
    }
    .faq__summary-question{
        font-size: 14px;
        line-height: 130%;
        width: 85%;
    display: inline-block;
    }
    .faq__summary-answer{
        width: 92%;
        padding: 0;
        margin: 0 auto;
        padding: 15px 0;
    }
    .above-footer{
        display: none;
    }
    .footer__group-social>a:first-child{
        margin-right: 8px;
    }
    .header__group-social>a:first-child{
        margin-right: 10px;
    }
    .mobile__group-network{
        width: 60px;
    }
}
@media (min-width:768px) and (max-width:1024px){
    #main{
        background-position: 0px 182px;
    }
    .first__links-item{
        width: 425px;
    }
}
@media (min-width:320px) and (max-width:360px){
.first-title{
    width: 300px;
    font-size: 23px;
}
.info__wrap-buttons{
    width: 300px;
}
.info__wrap-radio{
    padding: 10px 15px;
}
.info__wrap-radio-active{
    padding: 10px 15px;
}
.info__countries{
    gap: 0% 4%;
}
.info__countries-image{
    width: 90px;
    height: 90px;
}
.modal__notice-button{
    padding: 19px 10px;
    width: calc(100% - 20px);
}
.modal__notice {
    width: 95%;
    min-height: 520px;
    max-height: 570px;
    height: 97%;
}

}