body{
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
}

 h2 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 34px;
    line-height: 120%;
    color: #2361A9;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.header{    
    height: 80px;
    border-bottom:1px solid #D8E0EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 40px;
}
.header-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 150px;
}
.navigation{
   /* margin: 30px 0;*/
}
.credentials{
    display: flex;

}
.nav__list{
    display: flex;

}
.nav__list-item{
    list-style: none;
    position: relative;
}

.nav__list-item::before{
    content: '';
height: 3px;
border-radius: 30% 30% 0 0;
width: 100%;
background-color: transparent;
position: absolute;
top: 45px;
}
.nav__list-item:hover::before{
        background-color: red;
    
}
.nav__list-item:active::before{
    background-color: red;

}

.nav__list-item:not(:last-child){
    margin-right: 30px;
}
.credentials{

}
.credentials__lang{

}
.credentials__list{
    border: none;
    color: #2361A9;
    font-weight: 700;
    font-size: 15px;
    line-height: 109%;
    width: 80px;
    outline: none;
}
.credentials__lang::after{
    content: url('../images/lang.svg');
    width: 25px;
    position: relative;
    top: 9px;
    left: 58px;
}
.credentials__list-item{

}
.credentials__avatar{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #2361A9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}
.credentials__button{
    padding: 14px 28px;
    height: 45px;
    border: 2px solid #2361A9;
    color: #2361A9;
    border-radius: 25px;
    background-color: white;
    outline: none;
    cursor: pointer;
    color: #2361A9;
    font-weight: 700;
    font-size: 15px;
    line-height: 109%;
}
#main{
    width: 100%;
    height: 570px;
    background-color: var(--third-background);
    background-image: url(../images/first.svg),url(../images/firstback.svg);
    background-repeat: no-repeat;
    background-position: right 57px,center right;

}
.first{
    width: 600px;
}
.first-title{
    font-weight: 600;
font-size: 44px;
line-height: 120%;
letter-spacing: 0.01em;
text-transform: uppercase;
padding-top: 110px;
}
.first__links{
    display: flex;
    margin-top: 30px;
    width: 100%;
    justify-content: space-around;
}
.first__links-item{
    box-shadow: 0px 8px 14px 2px #ececec;
    border-radius: 14px;
    background-color: var(--white);
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 180px;
    padding-bottom: 41px;
    padding-top: 45px;
}

.first__links-text{
    margin-top: 15px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}
.first__links-item:nth-of-type(2)> .first__links-text{
    margin-top: 22px;
    
}
.works__wrap{
    margin-top: 60px;
    margin-bottom: 60px;
}
.works__box{
    display: flex;
    margin-top: 21px;
    justify-content: space-between;
}
.works__box-item{
    border: 1px solid #D8E0EB;
    border-radius: 8px;
    height: 270px;
    width: 11%;
    width: 143px;
    padding: 20px 75px 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.works__box-text{
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
}
.works__box-number{
    font-weight: 500;
    font-size: 50px;
    margin-bottom: 20px;
}
.works__box-img{
    margin-top: auto;
}
.footer{
    border-top: var(--border);
}
.footer__wrap{
    display: flex;
    padding-bottom: 40px;
    padding-top: 50px;
}
.footer-logo{
    width: 255px;
    align-self: baseline;
    margin-right: 82px;
}
.footer__group{
    display: flex;
    flex-direction: column;
}
.footer__group:not(:last-child){
    margin-right: 100px;
}
.footer__group-link{
    text-decoration: none;
    color: var(--color1);
    letter-spacing: 0.02em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 24px;
}
.footer__group-social{
    padding-top: 30px;
}
.footer__group-network{
margin-left: 10px;
}
.footer__group:last-child{
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#information-for-countries{
    background-color: var(--third-background);
    background-image: url(../images/countriesback.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.info__wrap{
padding:60px 0 50px;
display: flex;
justify-content: space-between;
align-items: flex-end;
}
.info__wrap-title{
    width: 495px;
    font-weight: 700;
font-size: 34px;
line-height: 120%;

}
.info__wrap-buttons{
    background-color: var(--color1);
    border: var(--border);
    border-radius: 25px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 360px;

}
.info__wrap-radio{
    padding: 10px 20px;
    height: 40px;
    border: 1px solid var(--color1);
    color: var(--color1);
    border-radius: 20px;
    background-color: var(--color1);
    outline: none;
    cursor: pointer;
    color: var(--white);
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0.02em;
    text-transform: uppercase;

}
.info__wrap-radio-active{
    padding: 10px 20px;
    height: 40px;
    border: var(--border);
    color: var(--color1);
    border-radius: 20px;
    background-color: var(--white);
    outline: none;
    cursor: pointer;
    color: var(--color1);
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0.02em;
    text-transform: uppercase;

}
.info__countries{
    display: flex;
    flex-wrap: wrap;
    gap: 50px 42px;
    padding-bottom: 60px;
}
.info__countries-item{

}
.info__countries-image{
    background: var(--white);
    border: var(--border);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info__countries-name{
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    margin-top: 15px;
    text-align: center;
    text-transform: uppercase;
}
#benefts{
    background-color: var(--white);
    padding: 60px 0;
}
.benefits__title{

}
.benefits__list{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.benefits__list-item{
    border-radius: 8px;
    border: var(--border);
    padding: 40px 85px 40px 40px;
}
.benefits__list-img{

}
.benefits__list-title{
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    margin: 20px 0 12px 0;
    text-transform: 307;
}
.benefits__list-text{
    width: 300px;
    color: #606B77;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.02em;
}

#faq{
    background-color: var(--white);
    padding: 70px 0 55px;
}
.faq__title{
    font-weight: 700;
    font-size: 34px;
    line-height: 120%;
    margin-bottom: 20px;
}
.faq__details{
    margin-bottom: 5px;
}
.faq__summary{
    font-weight: 700;
font-size: 16px;
line-height: 130%;
display: flex;
    align-items: center;
}
.faq__summary-question{
    display: inline-block;
    margin-left: 10px;
    text-transform: uppercase;
}
.faq__summary-answer{
    padding: 30px 60px;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #606B77;
    width: 800px;
    letter-spacing: 0.02em;
}

summary {
    background-color: var(--third-background);
    position: relative;
    display: block;
    padding: 25px 30px;
  }
  
  summary::-webkit-details-marker {
    display: none;
  }
  
  summary::before {
    content: url(../images/opening.svg);
    position: absolute;
    right: 30px;
    top: 28px;
    padding-right: 0.5em;
  }
  
  details[open]>summary::before {
    content: url(../images/closing.svg);
  }
  .above-footer{
    width: 100%;
    height: 60px;
    background-color: var(--third-background);
  }
  #contacts{
    
    padding: 60px 0 70px;
    background-color: var(--third-background);
  }
.contacts__title{

}
.contacts__video{
    display: flex;
    background-color: var(--white);
    margin-top: 30px;
}
.contacts__video-text{
    padding: 40px;
}
.contacts__video-header{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.contacts__video-first-content{
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.02em;
    font-weight: 700;
}
.contacts__video-second-content{
    margin-bottom: 40px;
}
.contacts__video-content{
    font-size: 14px;
    line-height: 25px;
    color: #606B77;
    margin-bottom: 5px;
    display: inline-block;
}
.contacts__video-list{
    display: flex;
    justify-content: space-between;
}
.contacts__links{
    display: flex;
    flex-direction: column;
}
.contacts__video-link{
    margin-bottom: 15px;
}
.contacts__video-button{
    padding: 14px 26px;
    height: 45px;
    border: 2px solid #2361A9;
    color: #2361A9;
    border-radius: 25px;
    background-color: white;
    outline: none;
    cursor: pointer;
    color: #2361A9;
    font-weight: 700;
    font-size: 15px;
    line-height: 109%;
    align-self: end;
}
.contacts__list{
    margin-top: 20px;

}
.contacts__list-block{
    padding: 25px 40px;
    background: #eceff4;
    max-height: 285px;
    overflow: scroll;
}
.contacts__list-item{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #cad3df;
    line-height: 1.5;
    padding-bottom: 25px;
    margin-bottom: 25px;
}
.contacts__list-grid{
    display: flex;
    align-items: center;
    line-height: 1.5;
}
.contacts__list-item:last-child{
    border: none;
    padding-bottom: 0;
    margin-bottom: 0;
}
.contacts__list-col1{
    width: 30.7%;
    padding-right: 10px;
    display: flex;
    align-items: center;
}
.contacts__list-col1>span{
    font-size: 16px;
    letter-spacing: .4px;
    line-height: 1.2;
    font-weight: 700;
    color: #172c3e;
}
.contacts__list-icon{
    margin: 0 0 0 20px;
}
.contacts__list-svg{
    width: 20px;
}
.contacts__list-row{
    width: 68.4%;
}
.contacts__list-columns-wrap:not(:last-child){
margin-bottom: 10px;
}
.contacts__list-columns-wrap{
    display: flex;
    align-items: center;
}
.contacts__list-col2{
    width: 40.03%;
    padding-right: 10px;
}
.contacts__list-city{
    font-weight: 700;
    margin: 0 0 3px;
    color: #172c3e;
    font-size: 14px;
}
.contacts__list-adress{
    font-size: 12px;
    color: #172c3e;
}
.contacts__list-col3{
    width: 34.09%;
    padding-right: 10px;
}
.contacts__list-anchor{
    color: #0061af;
    font-weight: 700;
    display: block;
    text-decoration: none;
}
.contacts__list-col4{
    width: 25.88%;
}
.contacts__list-continent-name{
    font-weight: 700;
font-size: 20px;
line-height: 28px;
text-transform: uppercase;
display: inline-block;
margin-left: 10px;
}
summary.contacts__list-continent{
    background-color: var(--white);
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.hidden{
    display: none;
}
.toggled{
    display: none;
}

  @media (max-width:1280px) {
    .nav__list-item:not(:last-child){
        margin-right: 20px;
    }
}
@media (max-width:1024px){
    /* .hidden{
        display: block;
    } */
    .toggled{
        display: block;
    }
    .navigation{
        display: none;
    }
    #mobile-menu:checked ~ .navigation{
        display: block;
    }
}